<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs %>

    <h2>Welcome to <%= title %></h2>
    <p>This is a simple blog application designed using node.js,express.js and MongoDB.</p>
  </body>
</html>
