<!DOCTYPE html>
<html>
  <head>
    <title> View List </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs %>

    <h2>List of Blogs</h2>
    <ul>
       <% blogdata.forEach(function(blog){ %>       
         <li><a href="/viewblog/<%= blog._id %>"><%= blog.name %></a></li>
        <% } );%>
    </ul>
  </body>
</html>
